---
interface Props {
    size: "small" | "big";
}

const { size } = Astro.props;
---

<div class={`bento bento-${size}`} >
    <slot />
</div>

<style>
    .bento {
        height: 190px;
        background-color: var(--bento);
        backdrop-filter: blur(20px);
        border-radius: 15px;
        padding: 20px;
        color: var(--color-2);
        text-align: left;
    }

    .bento-small {
        grid-column: span 4;
    }

    .bento-big {
        grid-column: span 6;
    }

    @media screen and (max-width: 1057px) {
        .bento {
            height: auto;
        }
        
        .bento-small {
            grid-column: span 10;
        }

        .bento-big {
            grid-column: span 10;
        }
    }

</style>