---
import Social from '../Social.astro';

export interface Props {
    t: any;
}

const { t } = Astro.props;
---

<main>
    <div class="main-image">
        <img src="izan.webp" alt="main">
    </div>
    <div class="main-content">
        <h1>{t.main.title}</h1>
        <p>{t.main.description}</p>  
        <div class="social-icons">
            <Social icon="GitHub-white" link='https://github.com/IzanMen/'/>
            <Social icon="Instagram" link='https://www.instagram.com/izansanchez_09/'/>
        </div>
    </div>
</main>

<style>
    main {
        padding-top: 30px;
        width: 60%;
        height: fit-content;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    img {
        width: 250px;
        z-index: 10;
    }

    .main-image {
        width: fit-content;
        height: fit-content;
        position: relative;
        z-index: 10;
        margin-bottom: 50px;
    }

    .main-image::after {
        content: "";
        display: inline-block;
        background-color: var(--color);
        position: absolute;
        z-index: -1;
        bottom: 5px;
        left: -2px;
        width: 255px;
        height: 250px;
        border-radius: 50%;
    }

    .social-icons {
        margin-top: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }

    p {
        margin-top: 15px;
    }

    @media screen and (max-width: 1057px){
		main {
            flex-direction: column;
            gap: 0;
            margin-top: -100px;

            width: 95%;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
	}
</style>