---

---

<span>
    <p>ES</p>
    <svg width="64" height="64" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#00000000" stroke-width="1.872"><path d="M0 0h24v24H0z"/><path d="M12 6v12m0 0 5-5m-5 5-5-5" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/></svg>
</span>

<style>
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        width: 65px;
        height: 30px;
        border-radius: 100px;
    }

    span:hover {
        transform: scale(1.1);
    }

    p {
        color: #000;
        font-weight: 500;
        font-size: .9rem;
    }

    svg {
        width: 18px;
        height: 18px;
        margin-left: -2px;
    }
</style>