---
import Habilidad from './Habilidad.astro';

export interface Props {
    t: any;
}

const { t } = Astro.props;
---

<section id="habilidades">
    <h2>{t.skills.title}</h2>
    <p>{t.skills.description}</p>
    <div class="habilidades-content">
        <div class="habilidades-item">
            <Habilidad habilidad="HTML" />
            <Habilidad habilidad="CSS" />
            <Habilidad habilidad="JavaScript" />
            <Habilidad habilidad="SQL" />
        </div>
        <div class="habilidades-item">
            <Habilidad habilidad="Astro" />
            <Habilidad habilidad="WordPress" />
            <Habilidad habilidad="FastAPI" />
        </div>
        <div class="habilidades-item">
            <Habilidad habilidad="Git" />
            <Habilidad habilidad="GitHub" />
        </div>
    </div>
</section>

<style>

    section {
        width: 60%;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 100px;

        position: relative;
    }

    .habilidades-content {
        display: flex;
        flex-direction: column;
        gap: 18px;
        width: 100%;
        margin-top: 20px;
    }

    .habilidades-item {
        width: 100%;
        height: 80px;
        padding: 5px;
        display: flex;
        gap: 5px;
        border: 2px solid var(--color);
        border-radius: 5px;
    }

    p {
        margin-top: 15px;<!-- PROYECTOS -->

    }

    @media screen and (max-width: 1057px) {
        section {
            width: 95%;
            padding-top: 0;
            margin-top: 100px;
            text-align: center;
        }
    }

</style>