---

---

<section id="cursos">
    <h2>&lt;!-- CURSOS --&gt;</h2>

</section>

<style>
    section {
        width: 60%;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 100px;

        position: relative;
    }
</style>