---
interface Props {

}

const {  } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portafolio Web de Izan Sánchez, un joven apasionado por el desarrollo web. Descubre mis proyectosy habilidades">		
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Izan Sánchez, Desarrollador Frontend en Menorca, Islas Baleares</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

	* {
		box-sizing: border-box;
	}
		
	html {
		scroll-behavior: smooth;
	}
	
	body {
		background: linear-gradient(#221133, #000011 500px);
		min-height: 100dvh;
		color: #fff;
		font-size: .9rem;
		font-family: "Inter", sans-serif;

		h1 {
			font-weight: 400;
		}

		& p {
			font-size: 1.1rem;
			margin-block-end: 0;
			margin-block-start: 0;
		}

		& p, h1, h2, h3, h4, h5, h6 {
			line-height: 1.5rem;
			font-family: 'Itim', cursive;
		}

		& header p {
			font-family: "Inter", sans-serif;
		}
	}
</style>
