---
import Proyecto from './Proyecto.astro';

export interface Props {
    t: any;
}

const { t } = Astro.props;
---

<section id="proyectos">
    <h2>{t.projects.title}</h2>
    <div class="proyectos-content">
        <Proyecto 
            img="loesport-captura.png"
            github="https://github.com/IzanMen/loesport"   
            website="https://loesport.vercel.app" 
            technologies="HTML,CSS,JS"
        >
            <p>{t.projects.description1}</p>
        </Proyecto>
        <Proyecto 
            img="porfolio-captura.png"
            github="https://github.com/IzanMen/IzanMen"   
            website="https://izanmen-dev.vercel.app" 
            technologies="HTML,CSS,JS,ASTRO"
        >
            <p>{t.projects.description2}.</p>
        </Proyecto>
    </div>
</section>

<style>
    section {
        width: 60%;
        max-width: 800px;
        margin: 0 auto;

        color: #000;
    }

    .proyectos-content {
        margin-top: 25px;

        display: flex;
        flex-direction: column;
        gap: 50px;

        & p {
            line-height: 1rem;
            font-size: .9rem;
            font-weight: 500;
        }
    }
</style>