---
import Social from '../Social.astro';
import Tecnologia from './Tecnologia.astro';

interface Props {
    img: string;
    github: string;
    website: string;
    technologies: string;
}

const { img, github, website, technologies } = Astro.props;
---

<div class="proyecto">
    <img src={`${img}`} alt="proyecto">
    <div class="proyecto-content">
        <slot />
        <div class="proyecto-content__social">
            <Social icon="GitHub-black" link={github} />
            <Social icon="Website" link={website} />
        </div>
        <div class="proyecto-content__technologies">
            { technologies.split(',').map(tecnologia => <Tecnologia tecnologia={tecnologia} />) }
        </div>
    </div>
</div>

<style>
    .proyecto {
        background-color: #ccc;
        border-radius: 20px;

        display: flex;
        height: 150px;

        box-shadow: 8px 8px 10px 2px #777;

        & img {
            height: 100%;
            object-fit: cover;
        }
    }

    .proyecto-content {
        display: flex;
        flex-direction: column;

        padding: 15px;
        padding-right: 20px;
    }

    .proyecto-content__social {
        margin-top: 8px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        gap: 6px;
    }

    .proyecto-content__technologies {
        height: 100%;
        display: flex;
        gap: 5px;
    }

    @media screen and (max-width: 1057px) {
        .proyecto {
            flex-direction: column;
            height: 420px;
            background-color: transparent;
            box-shadow: none;
            align-items: center;
            border: none;

            & img {
                width: 500px;
                height: 250px;
                max-width: 100%;
            }

            & p {
                font-size: 1.1rem;
            }
        }

        .proyecto-content {
            background-color: #ccc;
            border-radius: 20px;
            padding: 20px 30px;
            box-shadow: 4px 4px 10px 2px #aaa;

            flex-direction: column;
            gap: 0;

            & .proyecto-content__technologies {
                margin-top: 20px;
            }
        }
    }

    @media screen and (max-width: 563px) {
        .proyecto-content {
            border-radius: 0;
            box-shadow: 0px 4px 10px 2px #aaa;
        }
    }
</style>