---
import Proyecto from './Proyecto.astro';
---

<section id="proyectos">
    <h2>&lt;!-- PROYECTOS --&gt;</h2>
    <Proyecto 
        img="loesport-captura.png"
        github="https://github.com/IzanMen/loesport"   
        website="https://loesport.vercel.app" 
        technologies="HTML, CSS, JS"
    >
        Uno de mis proyectos más destacados ha sido la modernización de la página web de mi club de atletismo, que anteriormente estaba desactualizada. Este proyecto me permitió aprender a comprometerme con una tarea y a esforzarme para dar lo mejor de mí. 
    </Proyecto>
    <Proyecto 
        img="porfolio-captura.png"
        github="https://github.com/IzanMen/IzanMen"   
        website="https://izanmen-dev.vercel.app" 
        technologies="HTML, CSS, JS, ASTRO"
    >
        Uno de mis proyectos más destacados ha sido la modernización de la página web de mi club de atletismo, que anteriormente estaba desactualizada. Este proyecto me permitió aprender a comprometerme con una tarea y a esforzarme para dar lo mejor de mí. 
    </Proyecto>
</section>

<style>
    section {
        width: 60%;
        max-width: 800px;
        margin: 0 auto;

        color: #000;
    }
</style>